<p id="notice"><%= notice %></p>

<h1>HDFC Posts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Location</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @core_posts.each do |core_post| %>
      <tr>
        <td><%= core_post.name %></td>
        <td><%= core_post.title %></td>
        <td><%= core_post.location %></td>
        <td><%= core_post.content %></td>
        <td><%= link_to 'Show', post_path(core_post) %></td>
        <td><%= link_to 'Edit', edit_post_path(core_post) %></td>
        <td><%= link_to 'Destroy', post_path(core_post), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Core Post', new_post_path %>
